* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  body {
    box-sizing: border-box;
    font-size: 200%;
  }
  
  .metro_box {
    position: relative;
    margin: 0 auto;
    background-color: white;
    width: 100vw;
    height: 100vh;
    max-width: 1440px;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(10, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
  }
  .cell {
      background-color: #71648a;
      box-sizing: border-box;
      padding: 1rem;
      color: #fff;
  }

  .cell--1 {
    grid-column: 1 / 4;
    grid-row: 1 / 5;
  }
  
  
  .cell--2 {
    grid-column: 4 / 8;
    grid-row: 1 / 5;
  }
  
  .cell--3 {
    grid-column: 1 / 5;
    grid-row: 5 / 8;
  }
  
  .cell--4 {
    grid-column: 1 / 5;
    grid-row: 8 / 11;
  }
  
  .cell--5 {
    grid-column: 5 / 8;
    grid-row: 5 / 11;
  }
  
  .cell--6 {
    grid-column: 8 / 11;
    grid-row: 1 / 11;
  }
  
  .cell--7 {
    grid-column: 11 / 14;
    grid-row: 1 / 9;
  }
  
  .cell--8 {
    grid-column: 11 / 14;
    grid-row: 9 / 11;
  }

  @media only screen and (max-width: 600px) {

    .masonry {
        grid-template-columns: repeat(13, 1fr);
        grid-template-rows: repeat(16, 1fr);
      }

    .cell--1 {
        grid-column: 1 / 6;
        grid-row: 1 / 5;
      }
      
      .cell--2 {
        grid-column: 6 / 14;
        grid-row: 1 / 5;
      }
      
      .cell--3 {
        grid-column: 1 / 8;
        grid-row: 5 / 8;
      }
      
      .cell--4 {
        grid-column: 1 / 8;
        grid-row: 8 / 11;
      }
      
      .cell--5 {
        grid-column: 8 / 14;
        grid-row: 5 / 11;
      }
      
      .cell--6 {
        grid-column: 1 / 14;
        grid-row: 11 / 14;
      }
      
      .cell--7 {
        grid-column: 1 / 8;
        grid-row: 14 / 17;
      }
      
      .cell--8 {
        grid-column: 8 / 14;
        grid-row: 14 / 17;
      }

  }
